.box_ele {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.start{
    background-color: red;
}

.end {
    background-color: green;
}
.wall {
    background-color: black;
}

.visited{
    background-color: aqua;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}